
canvas{
  position: absolute;
  z-index: 2;
}

video{
position: absolute;
width: 450px;
height: 450px;
z-index: 1
}
.play_pause{
  background: #186F65;
  color: #F1EFEF;
  border: none;
  padding: 10px 20px;
  border-radius: 10px ;
  cursor: pointer;
}
.input{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  z-index: 3;
  position: sticky;
}
.second{
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width:420px) {
.second{}
video{
  margin-left: 0px;
}
.second{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}
}
